@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color--white: #fcfcfc; 
  --color--dark: #333;
  --color--black: #000;
  --color--blue: #568c9b;
  --color--blue--hover: #0E4E5B;
  --color--warning: #9E0505;
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

html {
  height: 100%;
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vw;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: var(--color--black);
  background: var(--color--white);
}
button, .button {
  background-color: var(--color--white);
  color: var(--color--black);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: 1px solid var(--color--black);
  border-radius: 3px;
  transition: all 0.2s;
  cursor: pointer;
  padding: .5rem 1rem;
}
button:hover, 
.button:hover {
  color: var(--color--white);
  background-color: var(--color--dark);
}
input[disabled] {
  color: lightgray;
  background-color: grey;
}
input[disabled]:hover {
  opacity: 0.4;
  cursor: not-allowed;
}
.errors {
  font-size: 15px;
  color: red;
  margin: .5rem 0 2rem;
}

/* Header */
header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  background-color: var(--color--white);
  color: var(--color--black);
  border-bottom: 1px solid var(--color--dark);
}
/* Main */
main {
  padding-top: 6rem;
  min-height: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  outline: 3px solid green;
}

/* Dashboard */
.dashboard {
  width: 400px;
  padding: 2rem;
  outline: 1px solid black;
}
.input-group ~ .input-group {
  margin-top: 1rem;
}
.dashboard__session .input-group ~ .input-group {
  margin-top: .5rem;
}

.input-group {
  display: flex;
  justify-content: space-between;
}
.input-group.vertical {
  flex-direction: column;
  gap: .5rem;
}
.dashboard__session .input-group.vertical .input-field {
  width: 100%;
}
.input-group .input-field {
  padding: .5rem 1rem;
  width: 200px;
}
.dashboard__session .input-group .input-field {
  padding: 5px 10px;
  width: 220px;
}
.dashboard__session {
  margin-top: 2rem;
}
.dashboard__session .session {
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 3px 3px 7px rgb(0 0 0 / 7%);
}
.dashboard__session .session ~ .session {
  margin-top: 1rem;
}
.dashboard__session .session h4 {
  margin-bottom: 1rem;
}
.addSessionFormField {
  text-align: right;
}

/* Display */
.display {
  width: 500px;
  padding: 2rem;
  outline: 1px solid black;
  background-color: #eee;
}
.course {
  padding: 1.5rem;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.05);
  background-color: #fcfcfc;
}
.button-box {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem 2rem;
}
.course + .course {
  margin-top: 1rem;
}
.course_update_form{
  min-width: 100%;
  margin-top: 2rem;
  outline: 1px solid darkorange;
  outline-offset: .7rem;
}
.display__sessions {
  margin-top: .5rem;
}
.display__sessions table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  margin-top: .5rem;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
}
.display__sessions table thead {
  text-align: left;
  background-color: #777;
  color: #fff;
  font-weight: bold;
}
.display__sessions table th,
.display__sessions table td {
  padding: 5px 10px;
}
.display__sessions table tbody tr {
  border-bottom: 1px solid #ddd;
}
.display__sessions table tbody tr:nth-child(even) {
  background: #e3e3e3;
}
.display__sessions table tbody tr:last-child {
  border-bottom: 2px solid #777;
}

.Loader::after {
  content: "\2026";
  font-size: 1.5rem;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: loader steps(4, end) 2s infinite;
  width: 0;
  margin-left: 3px;
}
@keyframes loader {
  to {
    width: 1.1em;
  }
}


/* ___________________ */
/* During Development: */

.logBreak {
  margin-top: 5rem
}

/* * { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue } */